.Expand{
    position: absolute;
    right: 0px;   /**change**/
    height: 40px;  /**change**/
    width: 40px;   /**change**/
    bottom: 0%;
    display: none;
    z-index: 3;
}

#expand_btn{
   position: absolute;
   width: 50%;
   height: 50%;
   left: 25%;
   top: 25%;
   cursor: pointer;
  
}

#miniature_btn{
    position: absolute;
    width: 50%;
    height: 50%;
    left: 25%;
    top: 25%;
    cursor: pointer;
    display: none;
}

#expand_btn:hover{
    position: absolute;
    width: 60%;
    height: 60%;
    left: 20%;
    top: 20%;
   
 }

 #miniature_btn:hover{
    position: absolute;
    width: 60%;
    height: 60%;
    left: 20%;
    top: 20%;
   
 }