* {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
     user-select: none;
   }

.CustomVideo{
    background-color: black;
    position: relative;
    top: 20px;
    height: auto;
    width: 100%;
    margin: auto;
    border: none;
}      

.WrapVideo{
    position: relative;
    width: 100%;
    height: auto;
    max-height: 540px;
    display: flex;  
    z-index: 0;
} 

#myVideo{
    margin:0;
    padding: 0;
    position: relative;
    width: 100%;
    height: auto;
    max-height: 540px;
    top: 0%;
    transform: translateY(-0%);
    z-index: 0;
}


   














 
   
   

   
   

   

   
